
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
        box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    width: 100%;
	line-height: 1;
    font-size: 100%;
    font-family: Montserrat, sans-serif;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*typo / icons*/
h2{
    font-family: Open Sans;
    font-weight: 300;
    font-size: 1.5em;
}

h3 {
    font-family: Montserrat;
    font-size: 1.5em;
}


h4 {
    font-size: 0.875em;
    text-transform: uppercase;
}

h6{
    font-family: Open Sans;
    font-size: 0.875em;
    font-weight: 300;
}

@font-face {
	font-family: 'hakaton';
	src:url('../fonts/hakaton.eot?cy9527');
	src:url('../fonts/hakaton.eot?#iefixcy9527') format('embedded-opentype'),
		url('../fonts/hakaton.woff?cy9527') format('woff'),
		url('../fonts/hakaton.ttf?cy9527') format('truetype'),
		url('../fonts/hakaton.svg?cy9527#hakaton') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'hakaton';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-banknote:before {
	content: "\e600";
}
.icon-paperclip2:before {
	content: "\e601";
}
.icon-pen3:before {
	content: "\e602";
}
.icon-see:before {
	content: "\e603";
}
.icon-small58:before {
	content: "\e604";
}
.icon-newspaper:before {
	content: "\e605";
}

/*common styles*/

a {
    text-decoration: none;
}

.v-center{
    top: 50%;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
}

.clearfix {
    clear: both;
}
.right {
    float: right;
}
.txt-right {
    text-align: right;
}

.thead {
    height: 3.75em;
    overflow:hidden;
    font-style: italic;
    color: #acbed1;
}

.btn-1 {
    display: block;
    height: 3.75em;
    line-height: 100%;
    vertical-align: middle;
    background-color: #f1f5f9;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    position: relative;
    color: #768596;
}

.thead h2 {
    display: inline-block;
    margin-top: .7em;
}

.btn-1 h6,
.thead h6{
    display: inline-block;
    padding: 1.785em 1em;
}

.btn-1 h6.preostalo,
.thead .preostalo {
    position: absolute;
    right: 0;
    margin-right: 4.8em;
}

.thead h6:last-child {
    position: absolute;
    right: 0;
}

.btn-1 h6:nth-child(4),
.thead h6:nth-child(2) {
    position: absolute;
    right: 0;
    margin-right: 14em;
}

.btn-1 h6:nth-child(3) {
    position: absolute;
    left: 0;
    margin-left: 17em;
}

.btn-1 h6:first-of-type {
    font-style: italic;
    position: absolute;
    left: 0;
    margin-left: 4.3em;
}

.thead {
    margin-top: 2.7em;
    display: block;
    width: 100%;
    position: relative;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #e0e7ef;
}
/*menu*/

.menu-left {
    position: fixed;
    left: 0;
    top: 0;
    width: 19.375em;
    height: 100%;
    background-color: #2c3035;
}

.menu-left ul {
    background-color: #2c3035;

}

.menu-left a {
    height: 3.8125rem;
    display: block;
    color: #5a6166;
    font-size: 0.8125em;
    position: relative;
    padding-left: 6.46em;
    border-bottom: 1px solid #22252a;
    position:relative;
}

.menu-left > ul > li > a {
    text-transform: uppercase;
}

.menu-left > ul > li:first-child a {
    height: 4.3rem;
}




.menu-left span[class*="icon-"] {
    width: 3.9375rem;
    height: 100%;
    display: inline-block;
    text-align: center;
    font-size: 1.7em;
    padding-top: .8em;
    position: absolute;
    left: 0;
}

.menu-left .item {
    display: inline-block;
    text-align: left;
    line-height: 1;
    position:relative;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    
}

.drop-down li {
    background-color: #282b30;
}

.drop-down li:hover,
.drop-down li.active {
    background-color: #2c3035; 
}

/*header*/

header {
    padding-left: 1.875rem;
    margin-left: 19.375em;
    background-color: #f1f5f9;
    border-bottom: 1px solid #d2dde9; 
    height: 4.3em;  
    box-sizing: border-box;
}

header > div {
    display: inline-block;
    border-left: 1px solid #d2dde9;
    height: 100%;
    float: right;
    padding: 0 1.25em;
}

header > div:first-of-type {
    width: 4.3em;
    box-sizing: border-box;
    text-align: center;
}

header h4 {
    display: inline-block;
}

header h6,
header h4 {
    position: relative;
}

.name h6 {
    line-height: 1.2;
}

/*main-content*/

.main-content {
    width: calc(100% - 19.375em);
    margin-left: 19.375em ;
    padding-top: 1.875em 
}

.main-content > div {
    display: inline-block;
    padding: 0 1.875em 1.875em 1.875em;
    border-right: 1px solid #e8eef4;

}

.main-content .left {
    width: calc(100% - 25.625em);
}

.main-content .right{
    width: 25.625em;
    float: right;        
}

.widget {
    display: inline-block;
    width: 31%;
    height: 14.375em;
    float: left;
    padding: 1.875em;
    color: #fff;
    position: relative;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.widget h3 {
    max-width: 10em;
}

.widget h3:last-child{
    display: inline-block;
    max-width: none;
    position: absolute;
    bottom: 1.875rem;
}

.widget.one {
    background-color: #000;
}

.widget.one span,
.widget.sec span {
    font-size: 4.2em;
    margin-right: .1em;
}

.widget.sec {
    margin: 0 3.5%;
    background-color: #42a5f5;
}

.widget.thrd {
    background-color: #f47564;
}

.widget.thrd span {
    font-size: 2.25em;
    margin-right: .2em;
}







