
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
        box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    width: 100%;
	line-height: 1;
    font-size: 100%;
    font-family: Montserrat, sans-serif;
    min-height: 100vh;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*typo / icons*/
h2{
    font-family: Open Sans;
    font-weight: 300;
    font-size: 1.5em;
}

h3 {
    font-family: Montserrat;
    font-size: 1.5em;
}


h4 {
    font-size: 0.875em;
    text-transform: uppercase;
}

h4.lrg {
    font-size: 1.25em;
}

h6{
    font-family: Open Sans;
    font-size: 0.875em;
    font-weight: 300;
}

h6.lrg {
    font-size: 1rem;
}

h6.small {
    font-size: .81rem;
}

p {
    font-family: Open Sans;
    font-weight: 300;
}




@font-face {
	font-family: 'hakaton';
	src:url('../fonts/hakaton.eot?-og6ke6');
	src:url('../fonts/hakaton.eot?#iefix-og6ke6') format('embedded-opentype'),
		url('../fonts/hakaton.woff?-og6ke6') format('woff'),
		url('../fonts/hakaton.ttf?-og6ke6') format('truetype'),
		url('../fonts/hakaton.svg?-og6ke6#hakaton') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'hakaton';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
	content: "\e605";
}
.icon-avatar:before {
	content: "\e606";
}
.icon-close:before {
	content: "\e607";
}
.icon-download:before {
	content: "\e608";
}
.icon-info:before {
	content: "\e609";
}
.icon-log-out:before {
	content: "\e60a";
}
.icon-skolarina:before {
	content: "\e60b";
}
.icon-banknote:before {
	content: "\e600";
}
.icon-paperclip2:before {
	content: "\e601";
}
.icon-pen3:before {
	content: "\e602";
}
.icon-see:before {
	content: "\e603";
}
.icon-small58:before {
	content: "\e604";
}

/*common styles*/

a {
    text-decoration: none;
}

.v-center{
    top: 50%;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
}

.clearfix {
    clear: both;
}
.right {
    float: right;
}

.clr-red {
    background-color: #f47564;
}
.clr-blue {
    background-color: #42a5f5;
}
.clr-grn {
    background-color: #67ba2f;
}
.txt-right {
    text-align: right;
}

.thead {
    height: 3.75em;
    overflow:hidden;
    font-style: italic;
    color: #acbed1;
}

.btn-1,
.btn-1.s.active {
    display: block;
    height: 3.75em;
    line-height: 100%;
    vertical-align: middle;
    background-color: #f1f5f9;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    position: relative;
    color: #768596;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #f1f5f9;
    margin-bottom: .8em;
    overflow: hidden;
}

.btn-1 > span:first-child {
    font-size: 1.6em;
    padding: .65em .65em .65em .9em;
    display: inline-block;
    color: #acbed1;
} 

.btn-1.active > span:first-child {
    color: #f47564;
} 

.ispiti-menu, .finansije-menu
{
    height: 0;
    overflow: hidden;
}

.hidden
{
    display: none;
}

.fc-day-number
{
    padding-top: 6px !important;
    padding-right: 6px !important;
}

.fc-day-header
{
    font-family: 'Open Sans';
    font-size: 16px;
    padding: 5px 0 !important;
}

.fc-left h2
{
    text-transform: capitalize;
}

.fc-content, .fc-event-container
{
    background-color: #42a5f5;
}

.fc-event
{
    border: none;
    background-color: #42a5f5 !important;
    padding: 5px 0 !important;
}

.fc-title
{
    padding-left: 5px;
}

.fc-button
{
    background-image: none !important;
}

.btn-1.active {
    border-color: #f47564;
    color: #f47564;
    background-color: #fde8e5;

}
.name {
    width: 12em;
}
.btn-1.s.active > span:first-child {
    color:#acbed1;
}

.thead h2 {
    display: inline-block;
    margin-top: .7em;
}

.icon-download {
    margin-right: .6em;
}

.btn-1 h6,
.thead h6{
    display: inline-block;
    padding: 1.55em 1em;
}

.btn-1 h6.preostalo,
.thead .preostalo,
.thead.s h6:nth-child(3) {
    position: absolute;
    right: 0;
    margin-right: 4.8em;
}

.thead h6:last-child {
    position: absolute;
    right: 0;
}

.btn-1 h6:nth-child(4),
.thead h6:nth-child(2)
 {
    position: absolute;
    right: 0;
    margin-right: 14em;
}

.btn-1 h6:nth-child(3) {
    position: absolute;
    left: 0;
    margin-left: 17em;
}

.btn-1.s h6:nth-child(3){
    margin-right: 25em;
    text-align:right ;
    right: 0;
}

.btn-1 h6:first-of-type {
    font-style: italic;
    position: absolute;
    left: 0;
    margin-left: 5em;
}

.btn-1.s .paybtn,
.prijavi-dugme.paybtn {
    cursor: pointer;
    text-transform: uppercase;
    font-size: .75em;
    padding: .7em 0;
    width: 8.333em;
    display: inline-block;
    position: absolute;
    right: 1.2em; 
    color: #b5bdc7;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #acb5c0;
    text-align: center;
    background-color: #f1f5f9;
    margin-top: 1em;
}

.btn-1.s.active .paybtn {
    background-color: #67ba2f;
    color: #fff;

}

.btn-2 {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #fff;
    padding: 1.3rem 0;
    margin-bottom: .6em;
    position: relative;
}

.btn-2 h6 {
    margin-left: 4.18rem;
}

.btn-2 h6.small {
    font-style: italic;
    margin-top: .2em;
}

.btn-2 span {
    position: absolute;
    font-size: 1.5em;
    padding: .2em .8em;
}

.btn-2 .small span
{
    position: relative;
    font-size: 1em;
    padding: 0;
}



.thead {
    margin-top: 2.7em;
    display: block;
    width: 100%;
    position: relative;
}

.thead.s,
.thead.s h2 {
    margin-top: 0;
}

.thead.s h6 {
    padding-top: .7em;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #e0e7ef;
}
/*menu*/

.menu-left {
    position: fixed;
    left: 0;
    top: 0;
    width: 19.375em;
    height: 100%;
    background-color: #2c3035;
}

.menu-left ul {
    background-color: #2c3035;

}

.menu-left a {
    height: 3.8125rem;
    display: block;
    color: #5a6166;
    font-size: 0.8125em;
    position: relative;
    padding-left: 6.46em;
    border-bottom: 1px solid #22252a;
    position:relative;
}

.menu-left > ul > li > a {
    text-transform: uppercase;
}

.menu-left > ul > li:first-child a {
    height: 4.3rem;
}




.menu-left span[class*="icon-"] {
    width: 3.9375rem;
    height: 100%;
    display: inline-block;
    text-align: center;
    font-size: 1.7em;
    padding-top: .8em;
    position: absolute;
    left: 0;
}

.menu-left .item {
    display: inline-block;
    text-align: left;
    line-height: 1;
    position:relative;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    
}

.drop-down li {
    font-family: Open Sans;
    background-color: #282b30;
}

.drop-down li:hover,
.drop-down li.active {
    background-color: #2c3035; 
}

/*header*/

header {
    padding-left: 1.875rem;
    margin-left: 19.375em;
    background-color: #f1f5f9;
    border-bottom: 1px solid #d2dde9; 
    height: 4.3em;  
    box-sizing: border-box;
    color: #4d6279;
}

header > div {
    display: inline-block;
    border-left: 1px solid #d2dde9;
    height: 100%;
    float: right;
    padding: 0 1.25em;
}

header > div:first-of-type {
    width: 4.3em;
    box-sizing: border-box;
    text-align: center;
}

header h4 {
    display: inline-block;
    color: #8d99a8;
}

header h6,
header h4 {
    position: relative;
}



.name .icon-avatar {
    font-size: 1.5em;
    margin: .8em .6em 0 0;
    float: left;
}

.icon-log-out {
    font-size: 1.6em;
}

.thead #tip {
    margin-right: 18em;
}

.left-margin {
    margin-left: 32em !important;
}

/*main-content*/

.main-content {
    width: calc(100% - 19.375em);
    margin-left: 19.375em ;
    padding-top: 1.875em ;
}

.main-content > div {
    display: inline-block;
    padding: 0 1.875em 1.875em 1.875em;
    border-right: 1px solid #e8eef4;
    height: 100%;
    min-height: calc(100vh - 6.25rem);
}

.main-content .left {
    width: calc(100% - 25.625em);
    height: 100%;
}

.main-content .right{
    width: 25.625em;
    float: right; 
    height: 100%;       
}


.btn-1 > div:last-child {
    color: #acbed1;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.25em;
    padding: 1em;
    border-left: 1px solid #e0e7ef;
}

.btn-1.active > div:last-child {
    border-color: #f47564;
    color: #f47564;
}

.widget {
    display: inline-block;
    width: 49%;
    height: 14.375em;
    float: left;
    padding: 1.875em;
    color: #fff;
    position: relative;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.widget h3 {
    max-width: 10em;
}

.menu-left img {
    position: absolute;
    margin-top: 1.8em;
    width: 8em;
    height: auto;
    left: 2em;

}

.icon-arrow-right {
    font-size: .8em !important;
    margin-top: 1.6em !important;
}

.widget h3:last-child{
    display: inline-block;
    max-width: none;
    position: absolute;
    bottom: 1.875rem;
}


.widget.one span,
.widget.sec span {
    font-size: 4.2em;
    margin-right: .1em;
}

.widget.sec {
    margin-right: 1%;
    background-color: #42a5f5;
    background-image: url(../img/stopwatch.png);
    background-position: right bottom;
    background-repeat: no-repeat;
}

.widget.thrd {
    margin-left: 1%;
    background-color: #f47564;
    background-image: url(../img/wallet.png);
    background-position: right bottom;
    background-repeat: no-repeat;
}

.widget.thrd span {
    font-size: 2.25em;
    margin-right: .2em;
}

.left .line {
    margin-top: 3.75em;
}

.news {
    width: 40%;
    height: 12.25em;
    display: inline-block;
    position: relative;
    float: left;
    margin: 5% 5% 3% 5%;
}

.date {
    display: block;
    height: 5.9em;
    width: 4em;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    position: relative;
    overflow: hidden;
    left: 0;

}

.day {
    font-size: 2.25em;
    padding: .5em 0;
    text-align: center;
    background-color: #f1f5f9;
    color: #808d9d;
}

.mnth {
    text-transform: uppercase;
    font-size: .8em;
    padding: .5em 0;
    text-align: center;
    background-color: #808d9d;
    color: #ebeff4;
    position: absolute;
    bottom: 0;
    width: 100%;
    
}

.artcl {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 5.25em;
    color: #808d9d;
    overflow: hidden;
}

.artcl p {
    margin-top: 1.2em;
    display: inline-block;
    overflow: hidden;
}

.right h2 {
    font-style: italic;
    margin-bottom: 1em;
    color: #b2c2d4;
}
.sum {
    padding: 1em .6em;
    border-top: 1px solid #d2dde9;
    border-bottom: 1px solid #d2dde9;
    margin-top: 1.7em;
    color: #5d6f84;
}

.sum h4 {
    display: inline-block;
    font-size: 1rem;
}
.sum h4:last-child {
    float: right;
}
.pay {
    margin-top: 1.8em;
}
.pay a {
    display: inline-block;
    padding: 1em 0;
    color: #d2dde9;
}

.pay a:last-child {
    padding: 1em 3.2em;
    color: #4d6279;
    float: right;
    background-color: #f1f5f9;
    border: 1px solid #d2dde9;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

@media screen and (max-width: 1650px) {
body {
    font-size: 14px;
}

.btn-1 h6:nth-child(4),
.thead h6:nth-child(2) {
    display: none;
}

.btn-1.s h6:nth-child(3) {
    margin-right: 13em;
}

.news {
    display: block;
    width: 90%;
    float: none;
    padding-bottom: 5em;
    height: auto;
}
}

@media screen and (max-width: 1290px) {
    .btn-1 h6:first-of-type {
        display: none;
    }
    .btn-1.s h6:first-of-type {
        display: inline-block;
    }
    .btn-1 h6:nth-child(3) {
        margin-left: 4.5em;
    }
    .menu-left {
   display: none;
}

.main-content,
header {
    margin-left: 0;
    width: 100%;
}
}

@media screen and (max-width: 1000px) {
.widget {
    display: block !important;
    width: 100%;
    margin: .7em 0 !important;
}

   
}

@media screen and (max-width: 880px) {
body{
    font-size: 12px;
}

   
}

@media screen and (max-width: 800px) {
.main-content .right {
    display: none;
}

.main-content .left {
    width: 100%;
}
 
}

@media screen and (max-width: 450px) {
    .btn-1 h6:first-of-type {
        display: none;
    }
    .btn-1.s h6:nth-child(3) {
        margin-right: 9em;
    }
    .news {
    padding-bottom: 9em;
}

}







